.container_links {
  font-family: "Poppins-Medium";
  line-height: 28px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
}

.container_links > li {
  margin-left: 32px;
  display: table;
}

.link {
  vertical-align: middle;
  display: table-cell;
  color: #bbbbcb;
}

.container_links > li:last-of-type > a,
.container_links > li:last-of-type,
.active_link {
  color: #ffffff;
}

.container_links > li:last-of-type {
  border: 2px solid rgba(244, 246, 252, 0.2);
  border-radius: 41px;
  margin-left: 48px;
}

.container_links > li:last-of-type > a {
  padding: 14px 46px;
}
