.header {
  font-family: "Poppins-SemiBold";
  margin-bottom: 16px;
  line-height: 64px;
  color: #282938;
  font-weight: 600;
  font-size: 48px;
}

.content {
  font-family: "Poppins-Regular";
  margin-bottom: 16px;
  line-height: 28px;
  color: #282938;
  font-weight: 400;
  max-width: 405px;
  font-size: 16px;
  opacity: 0.7;
}

.link {
  font-family: "Poppins-Medium";
  line-height: 32px;
  color: #2405f2;
  font-weight: 500;
  font-size: 18px;
}

.link::after {
  margin-left: 16px;
  content: "→";
}

.sub_header {
  font-family: "Poppins-Medium";
  margin-bottom: 8px;
  line-height: 48px;
  margin-top: 14px;
  color: #282938;
  font-weight: 500;
  font-size: 32px;
}

.sub_content {
  font-family: "Poppins-Regular";
  line-height: 28px;
  color: #282938;
  max-width: 303px;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

.margin_bottom {
  margin-bottom: 44px;
}
