* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../src/fonts/Poppins-SemiBold.ttf");
}
