.containerFeatures {
  padding: 128px 160px;
  color: #282938;
}

.headerFeatures {
  font-family: "Poppins-Medium";
  margin-bottom: 12px;
  text-align: center;
  line-height: 28px;
  font-weight: 500;
  font-size: 16px;
}

.headerDesign {
  font-family: "Poppins-SemiBold";
  text-align: center;
  line-height: 64px;
  font-weight: 600;
  max-width: 630px;
  font-size: 48px;
  margin: 0 auto;
  margin-bottom: 47px;
}

.containerCardDesign {
  padding: 48px 32px 48px 48px;
  background-color: #ffffff;
  display: inline-block;
  height: 316px;
}

.headerCardDesign {
  font-family: "Poppins-Medium";
  margin-bottom: 12px;
  line-height: 36px;
  font-weight: 500;
  font-size: 24px;
}

.contentCardDesign {
  font-family: "Poppins-Regular";
  font-weight: normal;
  line-height: 28px;
  font-size: 16px;
  opacity: 0.7;
}

.margin_bottom {
  margin-bottom: 24px;
}